<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4a46d6a4-e1ae-4b34-9d4d-719f8ff2d510" name="Flex_Risk_6" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4a46d6a4-e1ae-4b34-9d4d-719f8ff2d510fileName">Flex_Risk_6</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
